api.jobspot.wip {
    reverse_proxy localhost:8000
    tls internal
    header Access-Control-Allow-Origin *
    header Access-Control-Allow-Methods "GET, POST, OPTIONS, PUT, DELETE"
    header Access-Control-Allow-Headers *
}

jobspot.wip {
    reverse_proxy localhost:4200
    tls internal
}
